# kuriyama==0.3.6
https://github.com/Lycreal/python-mirai/archive/refs/heads/fix-GroupImage.zip
pillow==7.2.0
lxml==4.6.2
aiohttp==3.6.2
pydantic==1.6.1

# pytest
# pytest-asyncio
# pytest-cov
# coverage<5

# mypy
